/* 전역설정 */
body {
  font-family: Arial, sans-serif;
  height: 100%;
  line-height: 1.4;
}

header {
  position: fixed;
  width: 100%;
  background-color: #F6F5F0;
  border-bottom: 1px solid black;
  top: 0;
  z-index: 11;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  position: relative;
  margin: auto;
}

.btn {
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: block;
  padding: 10px;
  color: #333;
  width: 130px;
  box-sizing: border-box;
  text-align: center;
  transition: .4s;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse:hover {
  color: #333;
  background-color: transparent;
}

.btn.btn--brown {
  border-color: #592B18;
  color: #592B18;
}

.btn.btn--brown:hover {
  background-color: #592B18;
  color: #fff;
}

.btn.btn--gold {
  border-color: #D9AA8A;
  color: #D9AA8A;
}

.btn.btn--gold:hover {
  background-color: #D9AA8A;
  color: #fff;
}

.btn.btn--white {
  border-color: #fff;
  color: #fff;
}

.btn.btn--white:hover {
  background-color: #fff;
  color: #333;
}

/* body */

header>.inner {
  height: 120px;

}

header .inner .logo {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* display: none;  */
}

header .inner .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .inner .sub-menu .menu {
  display: flex;
  position: relative;
}

header .inner .sub-menu .menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner .sub-menu .menu li a {
  font-family: Arial, sans-serif;
  padding: 11px 16px;
  display: block;
  color: #656565;
  font-size: 13px;
}

/* inputbox */
header .inner .sub-menu .search {
  position: relative;
  height: 34px;
}

header .inner .sub-menu .search input {
  width: 36px;
  height: inherit;
  padding: 4px, 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-size: 12px;
  transition: width 0.4s;
}

header .inner .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .inner .sub-menu .search .material-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 4px;
  height: 24px;
}

header .inner .sub-menu .search.focused .material-icons {
  display: none;
}

/* 메인메뉴 */

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

}

header .inner .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .inner .main-menu .item:hover .item__name {
  background-color: #2C2A29;
  border-radius: 6px 6px 0 0;
  color: #669920;
}

/* 컨텐츠 */

header .inner .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .inner .main-menu .item:hover .item__contents {
  display: block;
}

header .inner .main-menu .item .item__contents .contents__menu {
  background-color: #2C2A29;
}

header .inner .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
}

header .inner .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .inner .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .inner .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .inner .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .inner .main-menu .item .item__contents .contents__texture {
  background-image: url("../images/main_menu_pattern.jpg");
  font-size: 13px;
  padding: 26px 0;
}

header .inner .main-menu .item .item__contents .contents__texture div.inner h4 {
  color: #999;
}

header .inner .main-menu .item .item__contents .contents__texture div.inner p {
  color: #669920;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}


header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
}

/* scroll */


header .scroll .material-icons {
  font-size: 24pxs;
}

footer {
  background-color: #272727;
  height: 330px;
}

footer .inner {
  height: 230px;
  padding: 40px 0 60px;
  background-color: #272727;

}

footer .inner .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .inner .menu li {}

footer .inner .menu li::after {
  content: "";
  border: 1px solid #555;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 61px;
}



footer .inner .menu li:nth-child(1) a {
  color: #669900;
}

footer .inner .menu li:nth-child(1)::after {
  display: none;
}


footer .inner .menu li a {
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
  color: #ccc;

}

footer .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

footer .btn-group .btn {
  margin-left: 10px;
}

footer .btn-group a {
  padding: 10px;
  font-size: 12px;
}

footer .info {
  text-align: center;
  margin-top: 30px;
}

footer .info span {
  color: #999;
  font-size: 12px;
  margin-right: 20px;

}

footer .copyright {
  text-align: center;
  margin-top: 12px;
  color: #999;
  font-size: 12px;
}

footer .copyright span.this-year {
  /* color: #999;
  font-size: 12px; */

}

footer .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}